/*.body {
    font-family: Arial, sans-serif;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;/
    height: 100vh;
    background-color: #f0f0f0;
}*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    align-items: horizontal;
    background-color: #f4f4f4;
}

.bigContainer {
    display: flex;
    justify-content: space-between;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
}

.leftContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
}

.rightContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
}
input[type="file"] {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 2px solid #333;
    background: black;
}

.param {
    display: flex;
    justify-content: space-around;  /* Distribute evenly */
    align-items: center;  /* Align vertically */
    flex-wrap: wrap;  /* Prevent overflow */
    margin-top: 15px;
}

.shader {
    display: flex;
    justify-content: space-around;  /* Distribute evenly */
    align-items: center;  /* Align vertically */
    flex-wrap: wrap;  /* Prevent overflow */
    margin-top: 15px;
}

input[type="range"] {
    flex: 1;  /* Equal width */
    margin: 0 10px;
    max-width: 20%; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input[type="range"]:hover {
    opacity: 1;
}